.cover {
    overflow: hidden;
    position: relative;
    height: 100%;
    text-align: center;
    .bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
    }
    .content {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;

		h1 {
			font-size: 6rem;
		}
    }
}
.multi-cover,
.multi-cover .owl-wrapper-outer,
.multi-cover .owl-wrapper,
.multi-cover .owl-item {
	height: 100%;
}
.multi-cover {
	.cover .content {
		opacity: 0;
		transform: translateY(22%);
		transition: ease all 2s;
	}
	.active .cover .content {
		transform: translateX(0%);
		opacity: 1;
	}
	&:hover .owl-buttons {
		opacity: 1;
	}
	.owl-buttons {
		opacity: 0;
		transition: ease all 500ms;
	}
	.owl-prev, .owl-next {
		color: #fff;
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
		left: 20px;
		opacity: 0.4;
		i {
			font-size: 3em;
			transition: ease all 500ms;
		}
		&:hover {
			color: $color-dark;
			opacity: 1;
		}
	}
	.owl-next {
		left: auto;
		right: 20px;
	}
}
