section.page {
	padding: 20px;
	@media (min-width: $screen-sm-min) {
		padding: 60px 0;
	}
	.content {
		position: relative;
	}

}

body > section, body > footer {
	&.dark {
		color: #fff;
		background: $section-dark-bg-color;
	}
}
