@import "variables.css";

@import "effects/parallax.css";

@import "components/header.css";
@import "components/footer.css";
@import "components/cover.css";
@import "components/section.css";

html {
    height: 100%;
}
body {
	font: $font-body-size $font-body;
    height: 100%;
    color: #333;
    -webkit-font-smoothing: antialiased;
}
